n8n-workflows/create-task.json
{
  "name": "Create Task Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-task",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-task-creation",
      "name": "Webhook - Task Creation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "task_title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "task_description",
              "value": "={{ $json.description || '' }}"
            },
            {
              "name": "task_priority",
              "value": "={{ $json.priority || 'medium' }}"
            },
            {
              "name": "user_id",
              "value": "={{ $json.user_id }}"
            },
            {
              "name": "source",
              "value": "={{ $json.source || 'webhook' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-task-data",
      "name": "Set Task Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "tasks",
        "columns": "title, description, priority, user_id, status, created_at",
        "additionalFields": {
          "returnFields": "*"
        }
      },
      "id": "create-task-db",
      "name": "Create Task in Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "supabase-connection",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node['Set Task Data'].json.source }}",
              "operation": "equal",
              "value2": "todoist"
            }
          ]
        }
      },
      "id": "check-source",
      "name": "Check Source",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.todoist.com/rest/v2/tasks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $node['Set Task Data'].json.task_title }}"
            },
            {
              "name": "description",
              "value": "={{ $node['Set Task Data'].json.task_description }}"
            },
            {
              "name": "priority",
              "value": "={{ $node['Set Task Data'].json.task_priority === 'high' ? 4 : $node['Set Task Data'].json.task_priority === 'medium' ? 2 : 1 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "create-todoist-task",
      "name": "Create Todoist Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1120,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "todoist-api",
          "name": "Todoist API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/calendar/v3/calendars/primary/events",
        "authentication": "oAuth2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "summary",
              "value": "Task: {{ $node['Set Task Data'].json.task_title }}"
            },
            {
              "name": "description",
              "value": "{{ $node['Set Task Data'].json.task_description }}"
            },
            {
              "name": "start",
              "value": "{{ { \"date\": $now.format('YYYY-MM-DD') } }}"
            },
            {
              "name": "end",
              "value": "{{ { \"date\": $now.format('YYYY-MM-DD') } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "create-calendar-event",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1120,
        400
      ],
      "credentials": {
        "googleCalendarOAuth2": {
          "id": "google-calendar-oauth",
          "name": "Google Calendar OAuth"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $parameter.webhookUrl }}/api/notifications",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $parameter.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{ $node['Set Task Data'].json.user_id }}"
            },
            {
              "name": "title",
              "value": "Task Created"
            },
            {
              "name": "message",
              "value": "Your task '{{ $node['Set Task Data'].json.task_title }}' has been created successfully!"
            },
            {
              "name": "type",
              "value": "success"
            }
          ]
        },
        "options": {}
      },
      "id": "send-notification",
      "name": "Send Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"task\": $node['Create Task in Database'].json,\n  \"message\": \"Task created successfully\",\n  \"integrations\": {\n    \"todoist\": $node['Check Source'].json.conditions ? $node['Create Todoist Task'].json : null,\n    \"calendar\": $node['Create Calendar Event'].json\n  }\n} }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "activity_log",
        "columns": "user_id, action, entity_type, entity_id, metadata, created_at",
        "additionalFields": {}
      },
      "id": "log-activity",
      "name": "Log Activity",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        900,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "supabase-connection",
          "name": "Supabase Database"
        }
      }
    }
  ],
  "connections": {
    "Webhook - Task Creation": {
      "main": [
        [
          {
            "node": "Set Task Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Task Data": {
      "main": [
        [
          {
            "node": "Create Task in Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Task in Database": {
      "main": [
        [
          {
            "node": "Check Source",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Source": {
      "main": [
        [
          {
            "node": "Create Todoist Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Todoist Task": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Calendar Event": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Notification": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "timezone": "America/New_York"
  },
  "versionId": "1.0.0",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "create-task-workflow",
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "productivity",
      "name": "productivity"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "automation",
      "name": "automation"
    }
  ]
}
